#root {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}
#content {
  display: flex;
  flex: 2;
  width: 140vw;
  transition: transform 0.1s ease-out;
  overflow: hidden;
}
#items {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list {
  padding: 1em 1em;
  text-align: start;
  width: 100%;
  box-sizing: border-box;
  max-width: 40vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.list:active {
  background-color: #252525;
}
#placeholder {
  padding: 1em;
  font-size: 1.5em;
  opacity: 0.5;
}
#add {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  padding: 0;
  font-size: 3em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center
}
#topbar {
  padding: 1rem;
  background-color: #fff06e;
  color: black;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3em;
}
#menu {
  background-color: transparent;
  color: black;
  padding: 0;
}
#menu:hover, #menu:focus {
  border-color: transparent;
  outline: 0;
}
#sidebar {
  box-sizing: border-box;
  width: 40vw;
  background-color: #1f1f1f;
}

@media (prefers-color-scheme: light) {
  .item {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  }
  #sidebar {
    background-color: #fafafa;
  }
  .list:active {
    background-color: #f0f0f0;
  }
}
